<!-- src/app/registro/registro.component.html -->

<div id="registro">
  <div class="container">
    <h3 class="text-center">Formulario de Registro</h3>
    <form id="registro-form" class="form" (ngSubmit)="registrar()" novalidate>
      <div class="form-group">
      </div>
      <div class="form-group mt-3">
        <label for="usuario">Usuario:</label>
        <input
          type="text"
          id="usuario"
          name="usuario"
          [(ngModel)]="username"
          required
          aria-required="true"
          placeholder="Elige un nombre de usuario"
          aria-label="Usuario"
          class="form-control"
        >
      </div>
      <div class="form-group mt-3">
        <label for="contraseña">Contraseña:</label>
        <input
          type="password"
          id="contraseña"
          name="contraseña"
          [(ngModel)]="password"
          required
          aria-required="true"
          placeholder="Crea una contraseña"
          aria-label="Contraseña"
          class="form-control"
        >
        <small id="passwordHelp" class="form-text text-muted">
          La contraseña debe tener al menos 6 caracteres.
        </small>
      </div>
      <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary">Aceptar Registro</button>
      </div>

      <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
        {{ errorMessage }}
      </div>
    </form>
    <div class="text-center mt-3">
      <a routerLink="/login">¿Ya tienes una cuenta? Inicia sesión aquí</a>
    </div>
  </div>
</div>

  
